@import url(
    'https://fonts.googleapis.com/css2?family=Chewy&display=swap'
);

@import url(
    'https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap'
);

:root {
    --red: rgb(170, 2, 2);
    --white: #ffffff;
    --text: #222222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    color: var(--text);
    background-color: var(--white);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}
.text{
    margin-top: -75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1 {
    font-family: "Chewy", system-ui;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    line-height: 50px;
    font-size: 45px;
    font-weight: 400;
    color: var(--red);
}

header img {
    width: 300px;
    max-width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    top: -65px;
    z-index: -1;
}

header h2 {
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: var(--red);
}

header h3 {
    padding-top: 20px;
    font-family: "Sniglet", system-ui;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

header p {
    max-width: 430px;
    padding-top: 35px;
    font-family: "Sniglet", system-ui;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}

button {
    width: 170px;
    margin-top: 30px;
    padding: 12px 16px;
    border: 0;
    border-radius: 25px;
    color: var(--white);
    background-color: var(--red);
    font-family: "Sniglet", system-ui;
    font-size: 15px;
    cursor: pointer;
    transition:
        transform 0.2s ease,
        opacity 0.2s ease;
       
}
html{
    scroll-behavior:smooth;
}

button:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.oni{
    width: 230px;
    max-width: 100%;
    margin-top: 60px;
}

main h2 {
    margin-top: 50px;
    margin-bottom: 28px;
    font-family: "Sniglet", system-ui;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    color: var(--red);
}

.countdown {
   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--red);
     font-family: "Sniglet", system-ui;
}

.time-box{
    text-align: center;
    font-size: 20px;
}

.prsten{
    width: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.datum{
    width: 100%;
    margin-top: 40px;
}

.raspored h3{
     font-family: "Sniglet", system-ui;
     font-weight: lighter;
     color: var(--red);
     font-size: 25px;
}
.raspored p{
    font-size: 18px;
}
.raspored{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Sniglet", system-ui;
    text-align: center;
}
.okupljanje{
   margin-bottom: 30px;
}
.vecera{
    margin-top: 30px;
}

.form-container{
    margin-top: 100px;
    width:100%;
    font-family: "Sniglet", system-ui;
}
.form-container h1{
    font-weight: lighter;
    text-align: center;
    
    color: var(--red);
}
.form-container p{
    font-size: 14px;
    text-align: center;
    margin-bottom: 50px;
    font-style: italic;
    margin-top: 10px;
}
.form-container button{
    width: 100%;
}
label{
    display:block;
    margin-top:15px;
    font-size:14px;
    color:#444;
}

input, select, textarea{
    width:100%;
    padding:12px;
    margin-top:5px;
    border-radius:12px;
    border:1px solid #ddd;
    font-size:16px;
    outline:none;
}


button:active{
    transform:scale(0.98);
}

.note{
    font-size:12px;
    color:#999;
    text-align:center;
    margin-top:10px;
}

#peopleContainer input{
    margin-top:10px;
}
.brojevi{
     font-family: "Sniglet", system-ui;
     text-align: center;
     margin-bottom: 100px;
}
.mladenka{
    margin-bottom: 20px;
}
.brojevi a{
   
    color: black;
}